<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <application
        android:name=".OfficeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.OfficeApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/rtf" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.OfficeApp.Splash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        
        <activity android:name=".WordActivity" android:theme="@style/Theme.OfficeApp.Viewer.Word" android:exported="false"/>
        <activity android:name=".ExcelActivity" android:theme="@style/Theme.OfficeApp.Viewer.Excel" android:exported="false"/>
        <activity android:name=".PptActivity" android:theme="@style/Theme.OfficeApp.Viewer.Ppt" android:exported="false"/>
        <activity android:name=".PdfActivity" android:theme="@style/Theme.OfficeApp.Viewer.Pdf" android:exported="false"/>
        <activity android:name=".TxtActivity" android:theme="@style/Theme.OfficeApp.Viewer.Txt" android:exported="false"/>
    </application>

</manifest>